.loading {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 9999;
    -webkit-transition: all .3s ease-out;
    transition: all .2s ease-out;
    opacity: 1;
}
.remove-loading {
    opacity: 0;
}
.loading span {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 0.25rem solid rgb(214, 214, 214);
    border-top-color: #009688;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}