@media (max-width: 2560px) {
    .container {
        width: 100% !important;
        padding-left: 80px;
        padding-right: 80px;
    }
}
@media (max-width: 1366px) {
    .products.row > div {
        width: 33.333%;
    }
}

@media (min-width: 1400px) {
    .products.row > div {
        width: 25%;
    }
}
@media (min-width: 1600px) {
    .products.row > div {
        width: 20%;
    }
}
@media (max-width: 992px) {
    .connect__items--item {
        width: 50%;
    }
    .header__right--mbsearch {
        display: none;
    }
    #wrap-payment .row > div {
        margin-bottom: 20px;
    }
    .checkout__inforpro {
    	width: 100%;
    	margin-bottom: 50px;
    	box-shadow: none;
    	padding: 0;
    	border-bottom: 2px solid #000;
    }
    .checkout__infor {
    	width: 100%;
    	padding: 0;
    }
}

@media (max-width: 768px) {
    .header__right--mbsearch {
        display: block;
        position: absolute;
        top: -10px;
        right: 0;
        /* border: 1px solid #3c3c3c; */
        padding: 5px;
        border-radius: 3px;
        vertical-align: middle;
        z-index: 1;
    }
    .connect__items--item {
        width: 50%;
    }
    .header__right .frm-icon {
        position: absolute;
        z-index: 2;
        right: 0;
        width: 250px;
        top: 28px;
        background-color: #000;
        padding: 2px;
        display: none;
    }
    .header__right .frm-icon input {
        width: 100%;
        border-radius: 0px;
    }
    .slidehomepage .desc h2 {
        font-size: 50px;
    }
    .table-responsive,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
        display: block;
    }
    .table-responsive .row-normal {
        display: table-row;
        width: 100%;
    }
    .table-responsive .row-normal td {
        display: table-cell;
        width: inherit;
        padding-left: 0 !important;
    }
    .table-responsive .row-normal td:first-child {}
    .table-responsive > thead > tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .table-responsive > tbody > tr {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .table-responsive > tbody > tr:first-child {
        border-radius: 3px 3px 0 0;
        border-top: none;
    }
    .table-responsive > tbody > tr:last-child {
        border-radius: 0 0 3px 3px;
        border-bottom: none;
    }
    .table-responsive > tbody > tr td {
        border: none;
        border-bottom: 1px solid #ccc;
        position: relative;
        padding-left: 35% !important;
        width: 100%;
        overflow: hidden;
        min-height: 50px;
    }
    .table-responsive > tbody > tr td:before {
        content: attr(data-title);
        position: absolute;
        top: 15px;
        left: 14px;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: 14px;
    }
    .table-responsive > tbody > tr td:first-child {
        text-align: left;
    }
    .table-responsive.table-order > tbody > tr:nth-child(-n + 3) > td:first-child {
        padding: 25px 0 25px 30% !important;
        background-position: left 32% center;
    }
    .table-responsive.table-order > tbody > tr:nth-child(-n + 3) > td:first-child span {
        left: 32%;
    }
    .detail__img {
        margin-bottom: 20px;
    }
    .icon-slice9 {
        font-size: 18px;
    }
    #search .frm-icon input {
        /* box-shadow: 0px 0px 2px #000; */
    }
    .header__right .frm-icon.expand-search {
        display: block;
    }
    .checkout__final--tbl.table-responsive > tbody > tr td:before {
        font-size: 17px;
        font-family: "sfu_daxcondensedmedium";
    }
    .checkout__final--tbl.table-responsive > tbody > tr td p {
        text-align: left;
    }
    .checkout__final--tbl.table-customize > tbody > tr > td[colspan='3'] {
        display: none !important;
    }
    .checkout__final--tbl.table-customize > tbody > tr > td p {
        font-size: 17px;
    }
}

@media (max-width: 680px) {
    .products > div {
        width: 100%;
    }
    .product__item--infor {
        height: inherit;
    }
}

@media (max-width: 560px) {
    .connect__items--item {
        width: 100%;
    }
    .footer__left {
        margin-bottom: 20px;
    }
    .footer__right,
    .footer__left {
        width: 100%;
    }
    .footer__right .frm-icon input {
        width: 100%;
    }
    .step-checkout h2 {
        font-size: 20px;
        line-height: 25px;
    }
}

@media (max-width: 460px) {
    .slidehomepage .desc h2 {
        font-size: 35px;
    }
    .connect__title {
        margin-right: 20px;
    }
    .detail__img .slidedetailpage {
        /* height: 280px; */
    }
    .detail {
        padding-top: 50px;
    }
    .detail__desc h1 {
        font-size: 30px;
    }
    .userauth {
        width: 90%;
    }
    .checkout__inner {
        width: 100%;
    }
    .checkout__slect--payment li {
        width: 100%;
        margin: 0 0 10px 0;
    }
    .breakgum li,
    .breakgum li a {
        font-size: 14px;
    }
    .checkout__infor--custo {
        width: 100%;
        margin-bottom: 30px;
    }
    .checkout__infor--shop {
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 320px) {}

@media (min-width: 320px) and (max-width: 1200px) {
    .product__item {
        height: inherit;
    }
    .product__item--pic {
        /* height: 300px; */
    }
    .product__item--infor {
        position: static;
        display: block;
        margin: 0;
        width: 100%;
        overflow: hidden;
        left: 0;
    }
    .footer__menu {
        position: static;
        float: left;
        width: 100%;
        margin-top: 20px;
    }
}
@media (max-width: 360px) {
    .checkout__inforpro--img {
        width: 100%;
        float: none !important;
        margin: 0 0 10px 0;
    }
    .checkout__infor--date {
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
}