@media (max-width: 2560px) {
    .container {
        width: 100% !important;
        padding-left: 80px;
        padding-right: 80px;
    }
}
@media (max-width: 1366px) {
    .products.row > div {
        width: 33.333%;
    }
}

@media (min-width: 1400px) {
    .products.row > div {
        width: 25%;
    }
}
@media (min-width: 1600px) {
    .products.row > div {
        /* width: 20%; */
    }
    .wrap-checkout {
        width: 70% !important;
    }
}
@media (max-width: 992px) {
    .connect__items--item {
        width: 50%;
    }
    .header__right--mbsearch {
        display: none;
    }
    #wrap-payment .row > div {
        margin-bottom: 20px;
    }
    .checkout__inforpro {
    	width: 100%;
    	margin-bottom: 50px;
    	box-shadow: none;
    	padding: 0;
    	border-bottom: 2px solid #000;
    }
    .checkout__infor {
    	width: 100%;
    	padding: 0;
    }
    .products.row > div {
        width: 50%;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .slidehomepage .desc h2 {
        font-size: 35px;
        line-height: 40px;
    }
}

@media (max-width: 768px) {
    .header__mobi #container {
        margin-top: 75px;
        z-index: 10;
    }
    .header__right--mbsearch {
        display: block;
        padding: 5px;
        vertical-align: middle;
        z-index: 2;
        position: relative;
    }
    .connect__items--item {
        width: 50%;
    }
    .header__right .frm-icon {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 60px;
        left: 15px;
        right: 15px;
        display: none;
    }
    .show__sub--search .frm-icon {
        display: block;
    }
    .header__right .frm-icon input {
        width: 100%;
        border-radius: 0px;
        text-transform: uppercase;
        
        font-size: 20px;
        height: 45px;
    }
    .header__right .frm-icon .icon-frm {
        padding: 10px 10px 13px;
    }
    .slidehomepage .desc h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .table-responsive,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
        display: block;
    }
    .table-responsive .row-normal {
        display: table-row;
        width: 100%;
    }
    .table-responsive .row-normal td {
        display: table-cell;
        width: inherit;
        padding-left: 0 !important;
    }
    .table-responsive .row-normal td:first-child {}
    .table-responsive > thead > tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .table-responsive > tbody > tr {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .table-responsive > tbody > tr:first-child {
        border-radius: 3px 3px 0 0;
        border-top: none;
    }
    .table-responsive > tbody > tr:last-child {
        border-radius: 0 0 3px 3px;
        border-bottom: none;
    }
    .table-responsive > tbody > tr td {
        border: none;
        border-bottom: 1px solid #ccc;
        position: relative;
        padding-left: 35% !important;
        width: 100%;
        overflow: hidden;
        min-height: 50px;
    }
    .table-responsive > tbody > tr td:before {
        content: attr(data-title);
        position: absolute;
        top: 15px;
        left: 14px;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: 14px;
    }
    .table-responsive > tbody > tr td:first-child {
        text-align: left;
    }
    .table-responsive.table-order > tbody > tr:nth-child(-n + 3) > td:first-child {
        padding: 25px 0 25px 30% !important;
        background-position: left 32% center;
    }
    .table-responsive.table-order > tbody > tr:nth-child(-n + 3) > td:first-child span {
        left: 32%;
    }
    .detail__img {
        margin-bottom: 20px;
    }
    .icon-slice9 {
        font-size: 22px;
    }
    .search .frm-icon input {
    }
    .checkout__final--tbl.table-responsive > tbody > tr td:before {
        font-size: 17px;
        
    }
    .checkout__final--tbl.table-responsive > tbody > tr td p {
        text-align: left;
    }
    .checkout__final--tbl.table-customize > tbody > tr > td[colspan='3'] {
        display: none !important;
    }
    .checkout__final--tbl.table-customize > tbody > tr > td p {
        font-size: 17px;
    }
    .swiper-button-prev, .swiper-button-next {
        font-size: 20px;
    }
    header {
        position: relative !important;
        transform: translate3d(0, 0, 0) !important;
        z-index: 9;
        height: 50px;
    }
    #wrapper {
        padding-top: 0;
    }
    .header__left .dropdown {
        position: static;
        display: inline-block;
    }
    .auth__desktop {
        display: none;
    }
    #menu-open {
        z-index: 2;
    }
    .auth__user .toggle__auth {
        position: relative;
        z-index: 2;
    }
    .header__left {
        /* position: static; */
    }
    .header__left .dropdown__inner {
        position: static;
        width: 100%;
        box-shadow: none;
    }
    .header__left .dropdown-up-style {
        opacity: 1;
        top: 60px;
        left: 15px;
        right: 15px;
        width: auto;
    }
    .header__left .dropdown-up-style .dropdown__inner {
        webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .header__left .dropdown ul {
        padding: 0;
        overflow: hidden;
    }
    .header__left .dropdown li {
        padding: 0;
        margin: 0;
        float: left;
        width: 50%;
    }
    .header__left .dropdown .dropdown__inner a {
        font-size: 12px;
        
        font-weight: bold;
        padding: 15px 0;
    }
    #container {
        position: relative;
        transition: margin-top .3s ease-out;
        background-color: #fff;
    }
    .header__left, .header__right {
        position: static;
        
    }
    .header__left {
        left: 15px;
    }
    .header__right {
        right: 15px;
    }
    .auth__user ul {
        position: absolute;
        left: 15px;
        right: 15px;
        z-index: 3;
        top: 60px;
    }
    .show__auth--user ul {
        display: block;
    }
    .auth__user ul li {
        padding: 0;
        width: 50%;
        text-align: center;
    }
    .auth__user ul li a {
        font-size: 14px;
    }
    .detail__img .breakcum {
        display: block;
        margin-bottom: 30px;
    }
    .detail__img .breakcum li a,
    .detail__img .breakcum li {
        font-size: 12px;
    }
    .detail__img .slidedetailpage .swiper-slide:before,
    .slidedetail__pagi,
    .detail__desc--fix .breakcum {
        display: none !important;
    }
    .detail__img .slidedetailpage {
        padding-left: 0;
        height: 250px;
        padding-bottom: 30px;
        margin-bottom: 50px;
    }
    .detail {
        padding-top: 30px;
    }
    .slidedetail__item {
        padding-top: 0;
    }
    .detail__img .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 0px;
    }
    .detail__img .swiper-button-prev {
        left: 0;
        text-align: left;
    }
    .detail__img .swiper-button-next {
        right: 0;
        text-align: right;
    }
    .detail__desc {
        max-width: inherit;
    }
    .detail__img .swiper-pagination,
    .detail__img .swiper-button-next,
    .detail__img .swiper-button-prev {
        display: block;
    }
    .detail__img .slidedetailpage .swiper-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex !important;
    }
    .detail__img .slidedetailpage .swiper-slide {
        flex-shrink: 0 !important;
        -webkit-flex-shrink: 0;
        -ms-flex: 0 0 auto;
    }
}

@media (max-width: 680px) {
    .products > div {
        width: 100%;
    }
    .product__item--infor {
        height: inherit;
    }
    .products.row > div {
        /* width: 100%; */
    }
}

@media (max-width: 560px) {
    .connect__items--item {
        width: 100%;
    }
    .footer__left {
        margin-bottom: 20px;
    }
    .footer__right,
    .footer__left {
        width: 100%;
    }
    .footer__right .frm-icon input {
        width: 100%;
        height: 40px;
    }
    #frm-email .icon-frm {
        padding: 13px 15px;
    }
    .step-checkout h2 {
        font-size: 20px;
        line-height: 25px;
    }
    .footer__right {
        margin-top: 20px;
        position: relative;
        padding-bottom: 80px;
    }
    .footer__right__social {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        text-align: center;
        left: 0;
    }
    #frm-email .frm-icon,
    #frm-email {
        width: 100%;
    }
    .header__cart .dropdown__inner {
        max-width: 450px;
    }
}

@media (max-width: 460px) {
    .slidehomepage .desc h2 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .connect__title {
        margin-right: 20px;
    }
    .detail__img .slidedetailpage {
        /* height: 280px; */
    }
    .detail {
        padding-top: 20px;
    }
    .detail__desc h1 {
        font-size: 30px;
    }
    .userauth {
        width: 90%;
    }
    .checkout__inner {
        width: 100%;
    }
    .checkout__slect--payment li {
        width: 100%;
        margin: 0 0 10px 0;
    }
    .breakgum li,
    .breakgum li a {
        font-size: 14px;
    }
    .checkout__infor--custo {
        width: 100%;
        margin-bottom: 30px;
    }
    .checkout__infor--shop {
        width: 100%;
        text-align: left;
    }
    .header__cart .dropdown__inner {
        width: 300px;
        max-height: 450px;
        overflow-y: auto;
    }
    .header__cart--item .wrap-img {
        width: 100%;
        float: none !important;
    }
    .slidehomepage .desc {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header__logo img {
        height: 12px;
    }
    .header__logo,
    .header__right,
    .header__left {
        line-height: 40px;
    }
    .header__cart {
        margin-left: 7px;
    }
    .products.row > div {
        width: 50%;
    }
    .products {
        padding-top: 30px;
    }
    .reciep {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    header {
        height: 40px;
    }
    .header__cart--items {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 320px) {}

@media (min-width: 320px) and (max-width: 1200px) {
    .product__item {
    }
    .product__item--pic {
    }
    .product__item--infor {
        position: static;
        display: block;
        margin: 0;
        width: 100%;
        overflow: hidden;
        left: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 10px 0 10px 0;
    }
    .footer__menu {
        position: static;
        width: 100%;
        margin-top: 20px;
    }
    .product__item--infor .clearfix p {
        float: none !important;
        margin: 0 0 5px 0;
        text-align: center !important;
        width: 100% !important;
        max-width: none;
    }
    .product__item--infor div.clearfix .pull-right {
        line-height: 100%;
    }
    .product-name {
        font-size: 14px;
    }
    .product__item--infor .clearfix p.fs-18 {
        
        font-size: 14px;
    }
    .product-type,
    .avai__size {
        display: none;
    }
    .product__item--infor div.clearfix .pull-left {
        width: 100%;
    }
    .size-item .size {
        padding: 0 7px;
        font-size: 13px;
        line-height: 100%;
        height: inherit;
    }
    .product__item--infor .clearfix .product-name {
        font-weight: bold;
        margin: 0;
    }
    .product__item--infor div.clearfix .product-price {
        font-weight: normal;
        font-size: 13px;
    }
    .products.row > div {
        /* margin-bottom: 40px; */
    }
    .footer__menu ul li {
        margin-bottom: 10px;
    }
}
@media (max-width: 360px) {
    .checkout__inforpro--img {
        width: 100%;
        float: none !important;
        margin: 0 0 10px 0;
    }
    .checkout__infor--date {
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (max-width: 415px) {
    .size-item .size {
        padding: 0 5px;
    }
}